<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
               <h2 class="display-4 titulo">Pais do Aluno João Pedro Ramos Nunes 9º ano F</h2>
        
            </div>
        </div>
        
        <hr class="featurette-divider">
        <div class="">
            <div class="row featyrette">
                <div class="col-md-2">
                    <img class="rounded-circle featurette-image img-fluid mx-auto" data-src="holder.js/150x150/auto"
                        alt="pai" style="width: 150px; height: 150px;" src="/images/pai.jpg"
                        data-holder-rendered="true">
                </div>
                <div class="col-md-8">
                    <h2 class="featurette-heading">
                        Silvio Marçal
                    </h2>

                    <span class="text-muted">Graduado em Tecnologia e Processamento de Dados</span>
                    <br>
                    <span class="text-muted">Web-Development - fullstack</span>
                    <br>
                    <i class="fa fa-envelope" aria-hidden="true"></i> marcalgyn@hotmail.com
                    <br>
                    <a href="https://l.instagram.com/?u=https%3A%2F%2Fbit.ly%2F315U8cj&e=ATMwvOfo_HUT00o21zChsM_k1_x1U8wB4CRbz8xIpDoesM2bwbTUbvL7SHW3if3LPJ1lGMUMX9I5xPMD&s=1">
                    <i class="fab fa-whatsapp"> </i> 
                    
                    (62) 98556-7314
                    </a> 

                    <p class="lead">
                        
                    </p>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="">
            <div class="row featyrette">
                <div class="col-md-2">
                    <img class="rounded-circle featurette-image img-fluid mx-auto" data-src="holder.js/150x150/auto"
                        alt="mae" style="width: 150px; height: 150px;" src="/images/mae.jpg"
                        data-holder-rendered="true">
                </div>
                <div class="col-md-3">
                    <h2 class="featurette-heading">
                        Ghislaine Ramos
                    </h2>

                    <span class="text-muted">Trader</span>
                    <br>
                    <span class="text-muted">Mercado Financeiro</span>
                    <br>
                    <i class="fa fa-envelope" aria-hidden="true"></i> ghislaine_ramos@hotmail.com
                    <br>
                    <a href="http://wa.me/5562986263010">
                    <i class="fab fa-whatsapp"> </i> (62) 98626-3010
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>