<div class="form-group" style="align-items: center;" >
<img class="mb-4" src="/images/fundo.jpeg" alt="Login" width="600" height="300">
</div>
    
<div class="form-group" style="align-items: center;" >
<form class="form-signin text-center" action="/usuario/login" method="POST">


    <h1 class="h3 mb-3 font-weight-normal">Área Restrita</h1>
    <div class="form-group">
        {{>_msg}}
    </div>

    <div class="form-group">
        <input name="email" type="text" style="text-transform: lowercase;" class="form-control"
            placeholder="Digite seu E-mail" required>
    </div>
    <div class="form-group">
        <input name="senha" type="password" class="form-control" placeholder="Digite sua Senha" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
    <a class="text-center" href="/usuario/signup" style="text-decoration: none;">Não tem cadastro? Cadastre Aqui!</a>

</form>
</div>
<!-- Não nescessário neste momento
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    -->

